/* body{
    width: 45%;
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 28%;
    background-color: white !important;
    
}
.btn btn-lg btn-primary{
    text-align: right;
}
.btn{
    border-radius: 15%;
    text-align: right;
    margin-left:85% ;
}
img{
    width: 4%;
    height: 5%;
}
img { */
    
    img{
        width: 10%;
        height: 5%;

    } 
