:root {
    --base-color: #4154F2;
    --sidebar-hover: #F6F9FF;
    --text-color: #012970;
}

body {
    /* background-color: coral; */
}

/* ----------------------------- Les stylisations de notre header --------------------------- */
#principal {
    width: 100%;
    margin: auto;
}
#header {
    position: fixed;
    left: 0;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 72px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px rgb(207, 203, 203);
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-go-back {
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4A90E2;
}
.header-go-back a {
    color: white;
}
.header-choose-methode {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
    margin-top: 14px;
}
.header-choose-methode button {
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 0.9em;
    font-weight: 200;
}
.header-choose-methode .btn-1 {
    background-color: #449D44;
    border: 1px solid transparent;
    color: white;
}
.header-choose-methode .btn-2 {
    background-color: white;
    border: 1px solid #333339;
    color: #333339;
}
/* -----------------------------------------------------------------------------------------*/



/* ---------------------------- Les stylisations du sidebar  -------------------------------*/

#sidebar {
    width: 340px;
    height: 100vh;
    position: fixed;
    top: 46px;
    padding-top: 30px;
    overflow-y: scroll;
    box-sizing: border-box;
    background-color: #F7F7F7;
}
#sidebar .sidebar-icon {
    display: flex;
    justify-content: center;
}
#sidebar .sidebar-icon i {
    font-size: 160px;
    color: #3C404A;
    margin-bottom: 20px;
}
#sidebar h3 {
    font-size: 1.4em;
    color: #3C404A;
    font-weight: 600;
}
#sidebar .check-programme {
    list-style-type: none;
}
#sidebar .check-programme,
#sidebar h3 {
    padding-left: 16px;
}
#sidebar .check-programme li {
    margin-bottom: 26px;
    background-color: white;
    padding: 10px 20px;
    margin: 0;
    margin-left: -13px;
}
#sidebar .check-programme li:last-child {
    background-color: transparent;
}
#sidebar .check-programme li a{
    text-decoration: none;
    color: #3C404A;
    font-size: 1.2em;
}
/* -----------------------------------------------------------------------------------------*/


/* ---------------------------- Les stylisations du sidebar  -------------------------------*/

#main {
    display: flex;
    position: relative;
    top: 90px;
    margin-left: 380px;
    min-width: 600px;
    margin-right: 40px;
}
#main .main-header {
    color: #3C404A;
    margin: 20px 0;
    font-weight: 700;
    font-size: 1.5em;
}
#main .main-head {
    background-color: #DDE8F4;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 6px 0 10px 0;
    font-size: 0.8em;
}
#main .main-head span {
    background-color: #3483DE;
    padding: 6px 12px 10px 12px;
    margin-right: 12px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
#main .main-check-component .list-group a,
#main .main-check-component .list-group,
#main .main-check-component{
    width: 100%;
}
#main .main-check-component a {
    background-color: #E8E8E8;
    margin: 3px 0;
}
#main .list-group-item {
    color: #3C404A;
    font-weight: 600;
    font-size: 1em;
}

#main .list-group-item:hover {
    color: #3C404A;
    font-weight: 600;
}
/* ----------------------------------------------------------------------------------------- */
