.logo-red{
    width: 5%;
    height: 4%;
}
.text{
    text-align: center;
}
.image{
    text-align: center;
}

input[type="email"],input[type="password"]{
    width: 400px;
}

.col-md-12{
    width: 450px;
}

.container1{
    margin: 0 auto;
    width: 400px;
}

button{
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 10px;
    width: 400px;
}


.text1{
    text-align: center;
}

.motpass a{
    text-decoration: none;
    text-align: center;
}
.forme{
 margin-top: 30px;
}